# Registry
INSTANCE_ID=registry-1
BACKEND=ap
GRPC_ADDRESS=0.0.0.0:7000
OBSERVABILITY_ADDRESS=0.0.0.0:10000
CLUSTER_MEMBERS=registry-1:7000,registry-2:7000,registry-3:7000,registry-4:7000,registry-5:7000
LOG_LEVEL=info
LOG_FORMAT=json

# Load Balancer
HTTP_ADDRESS=0.0.0.0:8000
OBSERVABILITY_ADDRESS=0.0.0.0:10010
REGISTRY_ADDRESSES=registry-1:7000,registry-2:7000,registry-3:7000,registry-4:7000,registry-5:7000
LOG_LEVEL=info
LOG_FORMAT=json

# Mock Service
NAME=example
INSTANCE_ID=example-1
HTTP_ADDRESS=0.0.0.0:9000
OBSERVABILITY_ADDRESS=0.0.0.0:10020
REGISTRY_ADDRESSES=registry-1:7000
WEIGHT=1
HEARTBEAT_INTERVAL=5s
LOG_LEVEL=info
LOG_FORMAT=json
