# Registry
REGISTRY_INSTANCE_ID=registry-1
REGISTRY_BACKEND=ap
REGISTRY_GRPC_ADDRESS=0.0.0.0:7000
REGISTRY_CLUSTER_MEMBERS=registry-1:7000,registry-2:7000,registry-3:7000,registry-4:7000,registry-5:7000
REGISTRY_LOG_LEVEL=info
REGISTRY_LOG_FORMAT=json

# Load Balancer
LB_HTTP_ADDRESS=0.0.0.0:8080
LB_REGISTRY_ADDRESSES=registry-1:7000,registry-2:7000,registry-3:7000,registry-4:7000,registry-5:7000
LB_LOG_LEVEL=info
LB_LOG_FORMAT=json

# Mock Service
MS_NAME=example
MS_INSTANCE_ID=example-1
MS_HTTP_ADDRESS=0.0.0.0:9000
MS_REGISTRY_ADDRESSES=registry-1:7000
MS_WEIGHT=1
MS_HEARTBEAT_INTERVAL=5s
MS_LOG_LEVEL=info
MS_LOG_FORMAT=json
